requests
bs4
python-dotenv
groq
neo4j
streamlit
plotly
langchain
langchain_groq
tiktoken
streamlit
matplotlib
networkx
flask
pyvis
scikit-learn
langchain-community
sentence-transformers
chromadb
sentence-transformers
flask-cors
langchain-huggingface